.gif-list{
    width: 100%;
    display: flex;
    flex-flow: column;
  }
  .gif-list{
    padding: 2rem;
  }
  .gif{
    padding: 1rem;
    background: white;
    display: flex;
  }
  .gif:not(:last-of-type){
    margin-bottom: 1rem;
  }
  .gif img{
    max-width: 100%;
  }
  .gif .meta{
    padding: 1rem;
  }
  .gif .meta-item{
  }
  .gif .meta-item a{
    color: var(--orange);
    text-decoration: none;
  }
  .gif .meta-item:not(:last-of-type){
  }