.GiphyApp {
  text-align: center;
}
.giflist {
  max-height: 63vh;
  overflow-x: hidden;
  overflow-y: scroll;
  margin-top: 85px;
}
.search-button {
  margin: 1rem;
}
input {
  padding: 5px;
  width: 8rem;
}
.search {
  margin-top: 25%;
}