body {
  background-image: url('./media/xp-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
  background-image: url('./media/task-bar.png');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  margin-top: 10px;
}
.icon {
  width: 64px;
  margin-left: 10px;
}
  .iconApp {
  width: 80px;
  font-size: 12px;
  font-family: sans-serif bold;
  font-smooth: never;
  -webkit-font-smoothing : none;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Modal Content/Box */
  .window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat !important;
  background-size: cover;
  background-color: white;

}
.window-body {
  text-align: center;
}
