body {
  background-image: url('./media/xp-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
footer {
  position: fixed;
	width: 100%;
	left: 0;
	bottom: 0;
  background-image: url('./media/task-bar.png');
  background-repeat: no-repeat;
  background-size: cover;
}

img {
  display: block;
  margin-top: 10px;
}

.onclick {
  opacity: 0.7;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  /* background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);               */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}